<div class="site-content" >
  <div class="entry">
    <div class="entry-meta">
      <h3>All markers</h3>
    </div>

    <div class="entry-content">
      <div style="margin-bottom: 10px">
        <%= link_to "New marker", new_marker_path, class: "btn btn-primary" %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>User</th>
            <th>Image</th>
            <th>Content</th>
            <th>Created at</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @marker_users.each do |marker_user| %>
            <tr>
              <td><%= link_to marker_user.marker.id, marker_path(marker_user.marker) %></td>
              <td><%= link_to marker_user.marker.name, marker_path(marker_user.marker) %></td>
              <td><%= marker_user.user.name %></td>
              <td><%= image_tag marker_user.marker.image, size: '150x150' %></td>
              <td><%= marker_user.content %></td>
              <td><%= marker_user.created_at %></td>
              <td><%= link_to "Delete", marker_path(marker_user), method: :delete, class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
