<div class="site-content" >
  <div class="entry">
    <div class="entry-meta">
      <h3>All markers</h3>
    </div>

    <div class="entry-content">
      <div style="margin-bottom: 10px">
        <%= link_to "New marker", new_marker_path, class: "btn btn-primary" %>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>User</th>
            <th>Image</th>
            <th id = "reg_token">Iset</th>
            <th id = "reg_token">Fset</th>
            <th id = "reg_token">Fset3</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @marker_users.each do |marker_user| %>
            <tr>
              <td><%= marker_user.marker.id %></td>
              <td><%= marker_user.marker.name %></td>
              <td><%= marker_user.user.name %></td>
              <td><%= image_tag marker_user.marker.image, size: '120x150' %></td>
              <td id = "reg_token"><%= marker_user.marker.iset_url %></td>
              <td id = "reg_token"><%= marker_user.marker.fset_url %></td>
              <td id = "reg_token"><%= marker_user.marker.fset3_url %></td>
              <td><%= link_to "Delete", marker_path(marker_user), method: :delete, class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
