<div class="site-content" >
  <div class="entry">
    <div class="entry-meta">
      <h3>All users</h3>
    </div>

    <div class="entry-content">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Auth token</th>
            <th id="reg_token" >Reg token</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.auth_token %></td>
              <td id="reg_token" ><%= user.reg_token %></td>
              <td><%= link_to "Delete", user_path(user), method: :delete, class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
